##Татьяна, нужно подписать номера задач и желательно дать комментарии, что для чего (комментарии идут после знака #)
#Например так: ##Задание 1. Создание списка средних
zan1 = list(mean(iris$Sepal.Length), mean(iris$Sepal.Width), mean(iris$Petal.Length), mean(iris$Petal.Width))
zan1
names(zan1) = c("Р”Р»РёРЅР° С‡Р°С€РµР»РёСЃС‚РёРєРѕРІ", "РЁРёСЂРёРЅР° С‡Р°С€РµР»РёСЃС‚РёРєРѕРІ", "Р”Р»РёРЅР° Р»РµРїРµСЃС‚РєРѕРІ", "РЁРёСЂРёРЅР° Р»РµРїРµСЃС‚РєРѕРІ")
zan1
z=iris
z$Species=NULL
z
z[1,1:4]
sum(z[1,1:4])
sum(z[1,1:4])/4
y=0
for(i in 1:150)
{x = sum(z[i,1:4])/4
 y = c(x,y)}
y

DNA = c("A","C","G","T")
DNA = sample(DNA, size = 1000, replace = T); DNA
DNA = factor(DNA)
DNA
summary(DNA)
length(DNA)
dna_at = c(summary(DNA))
dna_at = dna_at[c("A","T")]
dna_at
y = dna_at/1000
y
dna_at = c(dna_at, y)
dna_at


LETTERS
abc = sample(LETTERS, 10000, T)
v=0
for(i in 1:length(abc))
{if(abc[i]=="A"|abc[i]=="E"|abc[i]=="I"|abc[i]=="O"|abc[i]=="U"|abc[i]=="Y")
{v=v+1} else {v=v+0}}
v

iris 
x = iris 
x$Sepal.Length = NULL 
x$Sepal.Width = NULL 
x$Petal.Width = NULL 
x 
x[1:50,1] 
mean(x[1:50,1]) 
setosa = mean(x[1:50,1]) 
versicolor = mean(x[51:100,1]) 
versicolor 
virginica = mean(x[101:150,1]) 
virginica 
spec = c(setosa, versicolor, virginica) 
spec 
names(spec) = c("setosa","versicolor","virginica") 
spec 
sort(spec) 
levels(iris$Species) = names(sort(tapply(iris$Petal.Length,iris$Species, mean))) 
names(sort(tapply(iris$Petal.Length,iris$Species, mean)))

med = function(x) 
x = c(21, 34, -1, -10, 0, 38, 19, 2) 
median(x) 
median = function(z) 
x 
x = sort(x) 
x 
length(x) 
order(x) 
x[(length(x)/2)] 
x[round(length(x)/2)] 
med = function(p) 
{sort(p) 
  return(p[round(length(p)/2)]) 
} 
x 
med(x) 
med1 = function(z) 
{sort(z) 
  return(z[round((length(z)/2)+1)]) 
} 
med1 = function(z) 
{sort(z)} 
med1 = function(z) 
{sort(z) 
  return(z[length(z)/2]) 
} 
med1(x)


ggplot(iris, aes(x = Petal.Length, y = Sepal.Length, col = Species)) + geom_point(alpha = 0.4)

tapply(diamonds$price[diamonds$price >1000], diamonds$clarity[diamonds$price >1000], mean)
